body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-group-item.active a {
  color: white;
}

.nav-pills .nav-link.active {
  background-color: #737373!important;
  color: white!important;
}

.image-input {
  margin-bottom: 11px;
}

.check-quiz {
  padding-top: 7px;
  right: 20px;
  position: absolute;
}

.border-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrong {
  color: #f94144;
}

.correct {
  color: #43aa8b;
}
